@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

body{
    background-color: #f0fdfa;
}
@media only screen and (max-width: 768px) {
    #nav-cont{
        align-items: center;
        position: absolute;
        width: 100%;
        margin-top: 90px;
        margin-left: -12px;
        padding: 13px;
    }
    
}
@media only screen and (min-width: 768px){
    #nav-cont{
        display: flex;
    }
}